@import "normalize.css";

body, div, span {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section {
  height: 100vh;
}

.first {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first .nav {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.first .nav a {
  padding: 8px;
}

.first {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

.second {
  flex-direction: row;
}

.iphone-demo {
  flex-grow: 1;
  align-self: stretch;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
}

.feature-description {
  flex-grow: 1;
  align-self: stretch;
  flex-basis: 0;
  align-items: flex-start;
  justify-content: center;
}

.third {
  flex-direction: row;
}

.fourth {
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inline-wrap {
  display: block;
}

.demo-img {
  position: absolute;
  top: 90px;
  left: 25px;
  width: 250px;
}

#android-robot {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

#slider-control {
  padding: 3px;
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}

.first .overlay {
  position: absolute;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
